name: Publish JAR

on:
  push:
    tags:
      - '**'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ONELITEFEATHER_MAVEN_USERNAME: ${{ secrets.ONELITEFEATHER_MAVEN_USERNAME }}
      ONELITEFEATHER_MAVEN_PASSWORD: ${{ secrets.ONELITEFEATHER_MAVEN_PASSWORD }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Build with Gradle
        run: ./gradlew build
      - name: Publish to Maven
        run: ./gradlew publish
      - name: Generate CycloneDX BOM
        run: ./gradlew cyclonedxBom
      - name: Strip leading v from tag
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> "$GITHUB_ENV"
      - run: |
          echo "Version: $VERSION"
        name: Display Version
      - name: Upload BOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3
        with:
          serverhostname: ${{ secrets.DEPENDENCYTRACK_HOSTNAME }}
          apikey: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
          projectname: "Manis Bom"
          projectversion: ${{ env.VERSION }}
          projecttags: 'bom,minestom,manis'
          bomfilename: "build/reports/cyclonedx/bom.xml"
          autocreate: true
          parent: '6ae88251-deb9-4062-8a5e-ad6f7068266c'